$indian-red: rgb(219, 84, 97);
$lavender-web: rgba(238, 238, 255, 1);
$lavender-dark: rgb(199, 199, 255);
$xiketic: rgba(30, 16, 20, 1);
$slate-gray: rgba(95, 117, 142, 1);
$sage: rgba(206, 208, 151, 1);
