@import "../../styling/Colors";

.single_product {
    width: 15%;
    height: auto;
    background-color: $lavender-web;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    border-radius: 20px;

    &:hover {
        img {
            opacity: .5;
        }
    }
    img {
        width: 90%;
        height: auto;
        margin: 15px;
        box-sizing: border-box;
        border-radius: inherit;
    }
    svg {
        position: absolute;
        width: 50px;
        height: 50px;
        color: $indian-red;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}

.single_product--manage:hover img {
    opacity: 1;
}